// Copyright (c) 2024 Your Name
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            /* 修复：分配不同的 PWM 通道 0, 1, 2 */
            psels = <NRF_PSEL(PWM_OUT0, 0, 28)>,  /* Red */
                    <NRF_PSEL(PWM_OUT1, 0, 30)>,  /* Green */
                    <NRF_PSEL(PWM_OUT2, 0, 29)>;  /* Blue */
            nordic,invert;
        };
    };

    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 28)>,
                    <NRF_PSEL(PWM_OUT1, 0, 30)>,
                    <NRF_PSEL(PWM_OUT2, 0, 29)>;
            low-power-enable;
        };
    };
};

/ {
    model = "NekoNya nRF52833 Receiver";
    compatible = "nekonya_uf2";

    chosen {
        zephyr,console = &cdc_acm_uart;
        zephyr,shell-uart = &cdc_acm_uart;
        zephyr,uart-mcumgr = &cdc_acm_uart;
        zephyr,bt-mon-uart = &cdc_acm_uart;
        zephyr,bt-c2h-uart = &cdc_acm_uart;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,ieee802154 = &ieee802154;
    };

    nrf_radio_fem: at2401c {
        /* 声明这是一个使用两个控制引脚的通用 FEM 射频模块 */
        compatible = "generic-fem-two-ctrl-pins";
        
        /* TXEN (发送使能) -> 硬件接的是 P0.17 */
        ctx-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        ctx-settle-time-us = <1>;
        
        /* RXEN (接收使能) -> 硬件接的是 P0.15 */
        crx-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
        crx-settle-time-us = <1>;
        
        /* AT2401C 理论增益值（Zephyr 会据此优化内部发射功率） */
        tx-gain-db = <17>;
        rx-gain-db = <12>;
    };

    /* 确保系统的射频天线绑定了这个放大器 */
    &radio {
        fem = <&nrf_radio_fem>;
    };

    /* 修复：删除了双重占用的 gpio-leds 节点，只保留 pwmleds */

    pwmleds {
        compatible = "pwm-leds";
        red_pwm_led: pwm_led_red {
            pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
        };
        green_pwm_led: pwm_led_green {
            pwms = <&pwm0 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
        };
        blue_pwm_led: pwm_led_blue {
            pwms = <&pwm0 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
        };
    };

	leds {
        compatible = "gpio-leds";
        led0_red: led_red_gpio {
            gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
        };
        led1_green: led_green_gpio {
            gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
        };
        led2_blue: led_blue_gpio {
            gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_swo {
            gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "SWO Button";
            zephyr,code = <INPUT_KEY_0>;
        };
    };

    aliases {
        sw0 = &button0;
        /* 改回指向普通 gpio led，迎合接收器底层代码 */
        led0 = &led0_red;
        led1 = &led1_green;
        led2 = &led2_blue;
        
        /* 保持 pwm 别名不变，以防其他模块需要 */
        pwm-led0 = &red_pwm_led;
        pwm-led1 = &green_pwm_led;
        pwm-led2 = &blue_pwm_led;
        watchdog0 = &wdt0;
    };
};

&reg0 {
    status = "disabled";
};

&reg1 {
    regulator-initial-mode = <NRF5X_REG_MODE_LDO>;
};

&radio {
    fem = <&nrf_radio_fem>;
};

&adc {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&uicr {
    nfct-pins-as-gpios;
    gpio-as-nreset;
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

&ieee802154 {
    status = "okay";
};

zephyr_udc0: &usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";
    cdc_acm_uart: cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&nfct {
    status = "disabled";
};